<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<?xml-stylesheet type="text/xsl" href="frame.xsl"?>
<frame cBy="JKR" cDate="08/17/2005 12:01:14 PDT Wed" name="System" ID="1610" xsi:schemaLocation="../schema/frame.xsd" xmlns="http://framenet.icsi.berkeley.edu" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <definition>&lt;def-root&gt;A &lt;fen&gt;Complex&lt;/fen&gt; with a particular &lt;fen&gt;Function&lt;/fen&gt; is formed out of &lt;fen&gt;Component_entities&lt;/fen&gt;. The function may be expressed by reference to a &lt;fen&gt;Salient_entity&lt;/fen&gt; involved in the working of the &lt;fen&gt;Complex&lt;/fen&gt;.

&lt;ex&gt;&lt;fex name="pos"&gt;The body's&lt;/fex&gt; &lt;fex name="fun"&gt;immune&lt;/fex&gt; &lt;fex name="plx"&gt;&lt;t&gt;system&lt;/t&gt;&lt;/fex&gt; can be mobilized against cancer. &lt;/ex&gt;

&lt;ex&gt;The &lt;fex name="com"&gt;sewer&lt;/fex&gt; &lt;fex name="plx"&gt;&lt;t&gt;system&lt;/t&gt;&lt;/fex&gt; carries wastewater from homes and businesses to the Water Pollution Control Plant for treatment. &lt;/ex&gt;

&lt;/def-root&gt;</definition>
    <FE bgColor="FF0000" fgColor="FFFFFF" coreType="Core" cBy="JKR" cDate="08/17/2005 12:28:01 PDT Wed" abbrev="com" name="Component_entities" ID="8912">
        <definition>&lt;def-root&gt;The entities that function together as a unit.

&lt;ex&gt;The people of Bangkok had the opportunity to experience the long awaited underground &lt;fex name="com"&gt;train&lt;/fex&gt; &lt;t&gt;system&lt;/t&gt;.&lt;/ex&gt;&lt;/def-root&gt;</definition>
    </FE>
    <FE bgColor="008000" fgColor="FFFFFF" coreType="Core" cBy="JKR" cDate="08/17/2005 12:28:40 PDT Wed" abbrev="plx" name="Complex" ID="8913">
        <definition>&lt;def-root&gt;The unit formed by the &lt;fen&gt;Component_entities&lt;/fen&gt;.

&lt;ex&gt;The DeKalb County School &lt;fex name="plx"&gt;&lt;t&gt;System&lt;/t&gt;&lt;/fex&gt; cordially invites you to attend the Ground Breaking Ceremony for Peachtree Middle School.&lt;/ex&gt;&lt;/def-root&gt;</definition>
    </FE>
    <FE bgColor="800080" fgColor="FFFFFF" coreType="Core" cBy="JKR" cDate="08/17/2005 12:29:18 PDT Wed" abbrev="fun" name="Function" ID="8914">
        <definition>&lt;def-root&gt;The activity that the &lt;fen&gt;Complex&lt;/fen&gt; entity performs by virtue of its &lt;fen&gt;Component_entities&lt;/fen&gt; interacting.

&lt;ex&gt;These cells form part of the &lt;fex name="fun"&gt;immune&lt;/fex&gt; &lt;t&gt;system&lt;/t&gt; and help to prevent the body from getting diseases .&lt;/ex&gt;&lt;/def-root&gt;</definition>
    </FE>
    <FE bgColor="FF00FF" fgColor="FFFFFF" coreType="Extra-Thematic" cBy="JKR" cDate="08/18/2005 01:37:26 PDT Thu" abbrev="des" name="Descriptor" ID="8924">
        <definition>&lt;def-root&gt;Any characterization or evaluation of the &lt;fen&gt;Complex&lt;/fen&gt;.

&lt;ex&gt;Kwame Kilpatrick is taking a hard look at Detroit's &lt;fex name="des"&gt;highly inefficient&lt;/fex&gt; bus &lt;t&gt;system&lt;/t&gt;.&lt;/ex&gt;&lt;/def-root&gt;</definition>
    </FE>
    <FE bgColor="FFA500" fgColor="FFFFFF" coreType="Extra-Thematic" cBy="JKR" cDate="08/18/2005 01:45:18 PDT Thu" abbrev="pos" name="Possessor" ID="8925">
        <definition>&lt;def-root&gt;A person or organization that possesses or owns the &lt;fen&gt;Complex&lt;/fen&gt; or a larger entity of which the &lt;fen&gt;Complex&lt;/fen&gt; itself is a part.

&lt;ex&gt;&lt;fex name="pos"&gt;China's&lt;/fex&gt; transportation &lt;t&gt;system&lt;/t&gt; has undergone profound changes in recent years.&lt;/ex&gt;&lt;/def-root&gt;</definition>
    </FE>
    <FE bgColor="00BFFF" fgColor="FFFFFF" coreType="Core" cBy="JKR" cDate="08/18/2005 02:00:19 PDT Thu" abbrev="sal" name="Salient_entity" ID="8926">
        <definition>&lt;def-root&gt;The kind of entity that the &lt;fen&gt;Complex&lt;/fen&gt; operates on as part of its &lt;fen&gt;Function&lt;/fen&gt;.

&lt;ex&gt;The lifespan of a central &lt;fex name="sal"&gt;sewage&lt;/fex&gt; &lt;t&gt;system&lt;/t&gt; is about 80 years.&lt;/ex&gt;&lt;/def-root&gt;</definition>
    </FE>
    <FEcoreSet>
        <memberFE name="Salient_entity" ID="8926"/>
        <memberFE name="Function" ID="8914"/>
        <memberFE name="Component_entities" ID="8912"/>
    </FEcoreSet>
    <frameRelation type="Inherits from">
        <relatedFrame ID="1617">Set_of_interrelated_entities</relatedFrame>
    </frameRelation>
    <frameRelation type="Is Inherited by"/>
    <frameRelation type="Perspective on"/>
    <frameRelation type="Is Perspectivized in"/>
    <frameRelation type="Uses"/>
    <frameRelation type="Is Used by"/>
    <frameRelation type="Subframe of"/>
    <frameRelation type="Has Subframe(s)"/>
    <frameRelation type="Precedes"/>
    <frameRelation type="Is Preceded by"/>
    <frameRelation type="Is Inchoative of"/>
    <frameRelation type="Is Causative of"/>
    <frameRelation type="See also"/>
    <lexUnit status="Needs_SCs" POS="N" name="system.n" ID="12637" lemmaID="39317" cBy="JKR" cDate="08/17/2005 12:01:41 PDT Wed">
        <definition>COD: a complex whole; a set of things working together as a mechanism or interconnecting network.</definition>
        <sentenceCount annotated="45" total="124"/>
        <lexeme order="1" headword="false" breakBefore="false" POS="N" name="system"/>
    </lexUnit>
    <lexUnit status="Created" POS="N" name="complex.n" ID="12650" lemmaID="7498" cBy="RLG" cDate="08/22/2005 10:39:53 PDT Mon">
        <definition>COD: an interlinked system; a network.</definition>
        <sentenceCount annotated="2" total="2"/>
        <lexeme order="1" headword="false" breakBefore="false" POS="N" name="complex"/>
    </lexUnit>
    <lexUnit status="Created" POS="N" name="cascade.n" ID="14038" lemmaID="5646" cBy="KmG" cDate="03/22/2007 03:17:05 PDT Thu">
        <definition>COD: a succession of devices or stages in a process, each of which triggers or initiates the next.</definition>
        <sentenceCount annotated="4" total="4"/>
        <lexeme order="1" headword="false" breakBefore="false" POS="N" name="cascade"/>
    </lexUnit>
</frame>